.cartItem {
  display: grid;
  grid-template-columns: 300px 80px 100px 80px;
  grid-template-rows: 1fr;
  gap: 5px 5px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";

  .trashIcon {
    height: 20px;
    margin: 20px 0;
    cursor: pointer;
  }
}
